<%- include('../includes/header.ejs')%>

    <main class="container">
        <h1><%= pageHeader %></h1>
        <form class="add-product" method="POST" action="/add-product">
            <label>Title</label><br>
            <input class="reg-input" type="text" name="productId" value=""/><br><br>
            <label>Image Url</label><br>
            <input class="reg-input" type="text" name="imageUrl" value=""/><br><br>
            <label>Price</label><br>
            <input class="reg-input" type="number" name="price" value=""/><br><br>
            <label>Description</label><br>
            <textarea  type="text" name="description" value="">

            </textarea><br><br>
            <input class="sub-btn" type="submit" name="submit" value="Add Product">
        </form>
    </main>


<%- include('../includes/footer.ejs')%>
    