
</head>
   <body>
       <nav class="navigation">-
                <a id="first" href="/">Shop</a >
                <a href="/add-product">Add Products</a>
                <span class="milans-shop"><strong>P</strong><span class="animated-letter">r</span><span class="animated-letter">a</span><span class="animated-letter">c</span><span class="animated-letter">t</span><span class="animated-letter">i</span><span class="animated-letter">c</span><span class="animated-letter">e</span>
                <strong>S</strong>hop</span>
                <a id="cart" class="fas fa-shopping-cart" href="/cart"><span><%= cartCount %></span></a>
       </nav>
