<section class="search-section">
    <br>
    <form class="search-bar" method="POST" action="/">
        <input class="input-radio" type="radio" name="category" value="laptop"> Laptop 
        <input class="input-radio" type="radio" name="category" value="desktop"> Desktop 
        <input class="input-radio" type="radio" name="category" value="keyboard"> Keyboard 
        <input class="input-radio" type="radio" name="category" value="mouse"> Mouse
        <input class="input-radio" type="radio" name="category" value="All"> All
        <input class="search-bar-input" type="text" name="searchQuery" value=""/>
        <input class="search-bar-button" type="submit" name="submit" value="Search"/>
    </form>
</section>