<section class="search-section">
    <br>
    <input class="input-radio" type="radio" name="category" value="Laptops"> Laptop 
    <input class="input-radio" type="radio" name="category" value="Desktop"> Desktop 
    <input class="input-radio" type="radio" name="category" value="Keyboard"> Keyboard 
    <input class="input-radio" type="radio" name="category" value="Mouse"> Mouse 
    <input class="input-radio" type="radio" name="category" value="All"> All 
    <form class="search-bar" method="POST" action="/">
        <input class="search-bar-input" type="text" name="searchQuery" value=""/>
        <input class="search-bar-button" type="submit" name="submit" value="Search"/>
    </form>
</section>