<article class="product-single">
    <h3>Asus zenbook i3 7gen 8gb ram, 512 ssd, dock station</h3>
    <hr>
    <img src="https://www.lenovo.com/medias/lenovo-flex-5-15-intel-black-hero.png?context=bWFzdGVyfHJvb3R8MjYzMTQ1fGltYWdlL3BuZ3xoMmQvaGZkLzk5Nzk1MTQ4ODAwMzAucG5nfDNlZWRlNGIwYTc5MjAyNjkzNDkzNTg2MWY0MjkzZDQ5N2E2MWJjOTk1Y2M5ZDJjZGIyNzRhYTE0OGFlYmE4MGE" alt="product"/><br>
    <h2>$205.99</h2>
    <h4>description</h4>
    <button class="product-single-details">Details</button>
    <button class="product-single-cart">Add to Cart</button>
</article>